In [65]:
import pandas as pd 
import os

In [66]:
#Segun imports dependancies 
from sqlalchemy import create_engine
# import psycopg2
# import pandas as pd
from passwords import password

In [67]:
#jz work begins 
file_to_load = "data/president.csv"
election_r = pd.read_csv(file_to_load)
election_r.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [68]:
election_df = election_r.drop(['state_fips','state_cen','state_ic','office','version','notes'],axis=1)
election_df = election_df.dropna(subset=['candidate'])
election2000_df = election_df[election_df.year == 2000]
Republican2000_df = election2000_df[election2000_df.party == 'republican']
Democrat2000_df = election2000_df[election2000_df.party == 'democrat']


election2004_df = election_df[election_df.year == 2004]
Democrat2004_df = election2004_df[election2004_df.party == 'democrat']
Republican2004_df = election2004_df[election2004_df.party == 'republican']


election2008_df = election_df[election_df.year == 2008]
Democrat2008_df = election2008_df[election2008_df.party == 'democrat']
Republican2008_df = election2008_df[election2008_df.party == 'republican']

election2012_df = election_df[election_df.year == 2012]
Democrat2012_df = election2012_df[election2012_df.party == 'democrat']
Republican2012_df = election2012_df[election2012_df.party == 'republican']

election2016_df = election_df[election_df.year == 2016]
Republican2016_df = election2016_df[election2016_df.party == 'republican']
Democrat2016_df = election2016_df[election2016_df.party == 'democrat']

In [69]:
Republican2000_df.head()

,year,state,state_po,candidate,party,writein,candidatevotes,totalvotes
2042,2000,Alabama,AL,"Bush, George W.",republican,False,941173,1666272
2047,2000,Alaska,AK,"Bush, George W.",republican,False,167398,285560
2055,2000,Arizona,AZ,"Bush, George W.",republican,False,781652,1532016
2062,2000,Arkansas,AR,"Bush, George W.",republican,False,472940,921781
2070,2000,California,CA,"Bush, George W.",republican,False,4567429,10965822

In [70]:
merge_df_2000 = pd.merge(Republican2000_df, Democrat2000_df, on="state", suffixes=("_Rep", "_Dem"))
merge_df_2000.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,writein_Rep,candidatevotes_Rep,totalvotes_Rep,year_Dem,state_po_Dem,candidate_Dem,party_Dem,writein_Dem,candidatevotes_Dem,totalvotes_Dem
0,2000,Alabama,AL,"Bush, George W.",republican,False,941173,1666272,2000,AL,"Gore, Al",democrat,False,692611,1666272
1,2000,Alaska,AK,"Bush, George W.",republican,False,167398,285560,2000,AK,"Gore, Al",democrat,False,79004,285560
2,2000,Arizona,AZ,"Bush, George W.",republican,False,781652,1532016,2000,AZ,"Gore, Al",democrat,False,685341,1532016
3,2000,Arkansas,AR,"Bush, George W.",republican,False,472940,921781,2000,AR,"Gore, Al",democrat,False,422768,921781
4,2000,California,CA,"Bush, George W.",republican,False,4567429,10965822,2000,CA,"Gore, Al",democrat,False,5861203,10965822

In [71]:
merge_df_2000=merge_df_2000.drop(columns=['writein_Rep', 'writein_Dem', 'totalvotes_Rep', 'year_Dem'])
merge_df_2000.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes_Dem
0,2000,Alabama,AL,"Bush, George W.",republican,941173,AL,"Gore, Al",democrat,692611,1666272
1,2000,Alaska,AK,"Bush, George W.",republican,167398,AK,"Gore, Al",democrat,79004,285560
2,2000,Arizona,AZ,"Bush, George W.",republican,781652,AZ,"Gore, Al",democrat,685341,1532016
3,2000,Arkansas,AR,"Bush, George W.",republican,472940,AR,"Gore, Al",democrat,422768,921781
4,2000,California,CA,"Bush, George W.",republican,4567429,CA,"Gore, Al",democrat,5861203,10965822

In [72]:
merge_df_2000=merge_df_2000.rename(columns={"totalvotes_Dem":"totalvotes", "year_Rep":"year"})
merge_df_2000.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes
0,2000,Alabama,AL,"Bush, George W.",republican,941173,AL,"Gore, Al",democrat,692611,1666272
1,2000,Alaska,AK,"Bush, George W.",republican,167398,AK,"Gore, Al",democrat,79004,285560
2,2000,Arizona,AZ,"Bush, George W.",republican,781652,AZ,"Gore, Al",democrat,685341,1532016
3,2000,Arkansas,AR,"Bush, George W.",republican,472940,AR,"Gore, Al",democrat,422768,921781
4,2000,California,CA,"Bush, George W.",republican,4567429,CA,"Gore, Al",democrat,5861203,10965822

In [73]:
merge_df_2000.to_csv('merge_df_2000.csv')

In [74]:
merge_df_2004 = pd.merge(Republican2004_df, Democrat2004_df, on="state", suffixes=("_Rep", "_Dem"))
merge_df_2004.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,writein_Rep,candidatevotes_Rep,totalvotes_Rep,year_Dem,state_po_Dem,candidate_Dem,party_Dem,writein_Dem,candidatevotes_Dem,totalvotes_Dem
0,2004,Alabama,AL,"Bush, George W.",republican,False,1176394,1883415,2004,AL,"Kerry, John",democrat,False,693933,1883415
1,2004,Alaska,AK,"Bush, George W.",republican,False,190889,312598,2004,AK,"Kerry, John",democrat,False,111025,312598
2,2004,Arizona,AZ,"Bush, George W.",republican,False,1104294,2012585,2004,AZ,"Kerry, John",democrat,False,893524,2012585
3,2004,Arkansas,AR,"Bush, George W.",republican,False,572898,1054945,2004,AR,"Kerry, John",democrat,False,469953,1054945
4,2004,California,CA,"Bush, George W.",republican,False,5509826,12421353,2004,CA,"Kerry, John",democrat,False,6745485,12421353

In [75]:
merge_df_2004=merge_df_2004.drop(columns=['writein_Rep', 'writein_Dem', 'totalvotes_Rep', 'year_Dem'])
merge_df_2004.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes_Dem
0,2004,Alabama,AL,"Bush, George W.",republican,1176394,AL,"Kerry, John",democrat,693933,1883415
1,2004,Alaska,AK,"Bush, George W.",republican,190889,AK,"Kerry, John",democrat,111025,312598
2,2004,Arizona,AZ,"Bush, George W.",republican,1104294,AZ,"Kerry, John",democrat,893524,2012585
3,2004,Arkansas,AR,"Bush, George W.",republican,572898,AR,"Kerry, John",democrat,469953,1054945
4,2004,California,CA,"Bush, George W.",republican,5509826,CA,"Kerry, John",democrat,6745485,12421353

In [76]:
merge_df_2004=merge_df_2004.rename(columns={"totalvotes_Dem":"totalvotes", "year_Rep":"year"})
merge_df_2004.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes
0,2004,Alabama,AL,"Bush, George W.",republican,1176394,AL,"Kerry, John",democrat,693933,1883415
1,2004,Alaska,AK,"Bush, George W.",republican,190889,AK,"Kerry, John",democrat,111025,312598
2,2004,Arizona,AZ,"Bush, George W.",republican,1104294,AZ,"Kerry, John",democrat,893524,2012585
3,2004,Arkansas,AR,"Bush, George W.",republican,572898,AR,"Kerry, John",democrat,469953,1054945
4,2004,California,CA,"Bush, George W.",republican,5509826,CA,"Kerry, John",democrat,6745485,12421353

In [77]:
merge_df_2004.to_csv('merge_df_2004.csv')

In [78]:
merge_df_2008 = pd.merge(Republican2008_df, Democrat2008_df, on="state", suffixes=("_Rep", "_Dem"))
merge_df_2008.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,writein_Rep,candidatevotes_Rep,totalvotes_Rep,year_Dem,state_po_Dem,candidate_Dem,party_Dem,writein_Dem,candidatevotes_Dem,totalvotes_Dem
0,2008,Alabama,AL,"McCain, John",republican,False,1266546,2099819,2008,AL,"Obama, Barack H.",democrat,False,813479,2099819
1,2008,Alaska,AK,"McCain, John",republican,False,193841,326197,2008,AK,"Obama, Barack H.",democrat,False,123594,326197
2,2008,Arizona,AZ,"McCain, John",republican,False,1230111,2293475,2008,AZ,"Obama, Barack H.",democrat,False,1034707,2293475
3,2008,Arkansas,AR,"McCain, John",republican,False,638017,1086617,2008,AR,"Obama, Barack H.",democrat,False,422310,1086617
4,2008,California,CA,"McCain, John",republican,False,5011781,13561900,2008,CA,"Obama, Barack H.",democrat,False,8274473,13561900

In [79]:
merge_df_2008=merge_df_2008.drop(columns=['writein_Rep', 'writein_Dem', 'totalvotes_Rep', 'year_Dem'])
merge_df_2008.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes_Dem
0,2008,Alabama,AL,"McCain, John",republican,1266546,AL,"Obama, Barack H.",democrat,813479,2099819
1,2008,Alaska,AK,"McCain, John",republican,193841,AK,"Obama, Barack H.",democrat,123594,326197
2,2008,Arizona,AZ,"McCain, John",republican,1230111,AZ,"Obama, Barack H.",democrat,1034707,2293475
3,2008,Arkansas,AR,"McCain, John",republican,638017,AR,"Obama, Barack H.",democrat,422310,1086617
4,2008,California,CA,"McCain, John",republican,5011781,CA,"Obama, Barack H.",democrat,8274473,13561900

In [80]:
merge_df_2008=merge_df_2008.rename(columns={"totalvotes_Dem":"totalvotes", "year_Rep":"year"})
merge_df_2008.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes
0,2008,Alabama,AL,"McCain, John",republican,1266546,AL,"Obama, Barack H.",democrat,813479,2099819
1,2008,Alaska,AK,"McCain, John",republican,193841,AK,"Obama, Barack H.",democrat,123594,326197
2,2008,Arizona,AZ,"McCain, John",republican,1230111,AZ,"Obama, Barack H.",democrat,1034707,2293475
3,2008,Arkansas,AR,"McCain, John",republican,638017,AR,"Obama, Barack H.",democrat,422310,1086617
4,2008,California,CA,"McCain, John",republican,5011781,CA,"Obama, Barack H.",democrat,8274473,13561900

In [81]:
merge_df_2008.to_csv('merge_df_2008.csv')

In [82]:
merge_df_2012 = pd.merge(Republican2012_df, Democrat2012_df, on="state", suffixes=("_Rep", "_Dem"))
merge_df_2012.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,writein_Rep,candidatevotes_Rep,totalvotes_Rep,year_Dem,state_po_Dem,candidate_Dem,party_Dem,writein_Dem,candidatevotes_Dem,totalvotes_Dem
0,2012,Alabama,AL,"Romney, Mitt",republican,False,1255925,2074338,2012,AL,"Obama, Barack H.",democrat,False,795696,2074338
1,2012,Alaska,AK,"Romney, Mitt",republican,False,164676,300495,2012,AK,"Obama, Barack H.",democrat,False,122640,300495
2,2012,Arizona,AZ,"Romney, Mitt",republican,False,1233654,2299254,2012,AZ,"Obama, Barack H.",democrat,False,1025232,2299254
3,2012,Arkansas,AR,"Romney, Mitt",republican,False,647744,1069468,2012,AR,"Obama, Barack H.",democrat,False,394409,1069468
4,2012,California,CA,"Romney, Mitt",republican,False,4839958,13038547,2012,CA,"Obama, Barack H.",democrat,False,7854285,13038547

In [83]:
merge_df_2012=merge_df_2012.drop(columns=['writein_Rep', 'writein_Dem', 'totalvotes_Rep', 'year_Dem'])
merge_df_2012.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes_Dem
0,2012,Alabama,AL,"Romney, Mitt",republican,1255925,AL,"Obama, Barack H.",democrat,795696,2074338
1,2012,Alaska,AK,"Romney, Mitt",republican,164676,AK,"Obama, Barack H.",democrat,122640,300495
2,2012,Arizona,AZ,"Romney, Mitt",republican,1233654,AZ,"Obama, Barack H.",democrat,1025232,2299254
3,2012,Arkansas,AR,"Romney, Mitt",republican,647744,AR,"Obama, Barack H.",democrat,394409,1069468
4,2012,California,CA,"Romney, Mitt",republican,4839958,CA,"Obama, Barack H.",democrat,7854285,13038547

In [84]:
merge_df_2012=merge_df_2012.rename(columns={"totalvotes_Dem":"totalvotes", "year_Rep":"year"})
merge_df_2012.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes
0,2012,Alabama,AL,"Romney, Mitt",republican,1255925,AL,"Obama, Barack H.",democrat,795696,2074338
1,2012,Alaska,AK,"Romney, Mitt",republican,164676,AK,"Obama, Barack H.",democrat,122640,300495
2,2012,Arizona,AZ,"Romney, Mitt",republican,1233654,AZ,"Obama, Barack H.",democrat,1025232,2299254
3,2012,Arkansas,AR,"Romney, Mitt",republican,647744,AR,"Obama, Barack H.",democrat,394409,1069468
4,2012,California,CA,"Romney, Mitt",republican,4839958,CA,"Obama, Barack H.",democrat,7854285,13038547

In [85]:
merge_df_2012.to_csv('merge_df_2012.csv')

In [86]:
merge_df_2016 = pd.merge(Republican2016_df, Democrat2016_df, on="state", suffixes=("_Rep", "_Dem"))
merge_df_2016.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,writein_Rep,candidatevotes_Rep,totalvotes_Rep,year_Dem,state_po_Dem,candidate_Dem,party_Dem,writein_Dem,candidatevotes_Dem,totalvotes_Dem
0,2016,Alabama,AL,"Trump, Donald J.",republican,False,1318255,2123372,2016,AL,"Clinton, Hillary",democrat,False,729547,2123372
1,2016,Alaska,AK,"Trump, Donald J.",republican,False,163387,318608,2016,AK,"Clinton, Hillary",democrat,False,116454,318608
2,2016,Arizona,AZ,"Trump, Donald J.",republican,False,1252401,2573165,2016,AZ,"Clinton, Hillary",democrat,False,1161167,2573165
3,2016,Arkansas,AR,"Trump, Donald J.",republican,False,684872,1130635,2016,AR,"Clinton, Hillary",democrat,False,380494,1130635
4,2016,California,CA,"Trump, Donald J.",republican,False,4483810,14181595,2016,CA,"Clinton, Hillary",democrat,False,8753788,14181595

In [87]:
merge_df_2016=merge_df_2016.drop(columns=['writein_Rep', 'writein_Dem', 'totalvotes_Rep', 'year_Dem'])
merge_df_2016.head()

,year_Rep,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes_Dem
0,2016,Alabama,AL,"Trump, Donald J.",republican,1318255,AL,"Clinton, Hillary",democrat,729547,2123372
1,2016,Alaska,AK,"Trump, Donald J.",republican,163387,AK,"Clinton, Hillary",democrat,116454,318608
2,2016,Arizona,AZ,"Trump, Donald J.",republican,1252401,AZ,"Clinton, Hillary",democrat,1161167,2573165
3,2016,Arkansas,AR,"Trump, Donald J.",republican,684872,AR,"Clinton, Hillary",democrat,380494,1130635
4,2016,California,CA,"Trump, Donald J.",republican,4483810,CA,"Clinton, Hillary",democrat,8753788,14181595

In [88]:
merge_df_2016=merge_df_2016.rename(columns={"totalvotes_Dem":"totalvotes", "year_Rep":"year"})
merge_df_2016.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes
0,2016,Alabama,AL,"Trump, Donald J.",republican,1318255,AL,"Clinton, Hillary",democrat,729547,2123372
1,2016,Alaska,AK,"Trump, Donald J.",republican,163387,AK,"Clinton, Hillary",democrat,116454,318608
2,2016,Arizona,AZ,"Trump, Donald J.",republican,1252401,AZ,"Clinton, Hillary",democrat,1161167,2573165
3,2016,Arkansas,AR,"Trump, Donald J.",republican,684872,AR,"Clinton, Hillary",democrat,380494,1130635
4,2016,California,CA,"Trump, Donald J.",republican,4483810,CA,"Clinton, Hillary",democrat,8753788,14181595

In [89]:
merge_df_2016.to_csv('merge_df_2016.csv')

In [90]:
file_to_load = "data/STATE_long_latitude.csv"
lat_long = pd.read_csv(file_to_load)
lat_long.head()

            Place Name State_po_Rep   Latitude   Longitude
0         Alabama, USA           AL  32.318230  -86.902298
1          Alaska, USA           AK  66.160507 -153.369141
2         Arizona, USA           AZ  34.048927 -111.093735
3     Arkansas, the US           AR  34.799999  -92.199997
4  California, the USA           CA  36.778259 -119.417931

In [91]:
lat_long=lat_long.rename(columns={"State_po_Rep":"state_po_Rep"})
lat_long.head()

            Place Name state_po_Rep   Latitude   Longitude
0         Alabama, USA           AL  32.318230  -86.902298
1          Alaska, USA           AK  66.160507 -153.369141
2         Arizona, USA           AZ  34.048927 -111.093735
3     Arkansas, the US           AR  34.799999  -92.199997
4  California, the USA           CA  36.778259 -119.417931

In [93]:
lat_long_2000 = pd.merge(merge_df_2000, lat_long, on="state_po_Rep")
lat_long_2000.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes,Place Name,Latitude,Longitude
0,2000,Alabama,AL,"Bush, George W.",republican,941173,AL,"Gore, Al",democrat,692611,1666272,"Alabama, USA",32.318230,-86.902298
1,2000,Alaska,AK,"Bush, George W.",republican,167398,AK,"Gore, Al",democrat,79004,285560,"Alaska, USA",66.160507,-153.369141
2,2000,Arizona,AZ,"Bush, George W.",republican,781652,AZ,"Gore, Al",democrat,685341,1532016,"Arizona, USA",34.048927,-111.093735
3,2000,Arkansas,AR,"Bush, George W.",republican,472940,AR,"Gore, Al",democrat,422768,921781,"Arkansas, the US",34.799999,-92.199997
4,2000,California,CA,"Bush, George W.",republican,4567429,CA,"Gore, Al",democrat,5861203,10965822,"California, the USA",36.778259,-119.417931

In [98]:
lat_long_2004 = pd.merge(merge_df_2004, lat_long, on="state_po_Rep")
lat_long_2004.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes,Place Name,Latitude,Longitude
0,2004,Alabama,AL,"Bush, George W.",republican,1176394,AL,"Kerry, John",democrat,693933,1883415,"Alabama, USA",32.318230,-86.902298
1,2004,Alaska,AK,"Bush, George W.",republican,190889,AK,"Kerry, John",democrat,111025,312598,"Alaska, USA",66.160507,-153.369141
2,2004,Arizona,AZ,"Bush, George W.",republican,1104294,AZ,"Kerry, John",democrat,893524,2012585,"Arizona, USA",34.048927,-111.093735
3,2004,Arkansas,AR,"Bush, George W.",republican,572898,AR,"Kerry, John",democrat,469953,1054945,"Arkansas, the US",34.799999,-92.199997
4,2004,California,CA,"Bush, George W.",republican,5509826,CA,"Kerry, John",democrat,6745485,12421353,"California, the USA",36.778259,-119.417931

In [99]:
lat_long_2008 = pd.merge(merge_df_2008, lat_long, on="state_po_Rep")
lat_long_2008.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes,Place Name,Latitude,Longitude
0,2008,Alabama,AL,"McCain, John",republican,1266546,AL,"Obama, Barack H.",democrat,813479,2099819,"Alabama, USA",32.318230,-86.902298
1,2008,Alaska,AK,"McCain, John",republican,193841,AK,"Obama, Barack H.",democrat,123594,326197,"Alaska, USA",66.160507,-153.369141
2,2008,Arizona,AZ,"McCain, John",republican,1230111,AZ,"Obama, Barack H.",democrat,1034707,2293475,"Arizona, USA",34.048927,-111.093735
3,2008,Arkansas,AR,"McCain, John",republican,638017,AR,"Obama, Barack H.",democrat,422310,1086617,"Arkansas, the US",34.799999,-92.199997
4,2008,California,CA,"McCain, John",republican,5011781,CA,"Obama, Barack H.",democrat,8274473,13561900,"California, the USA",36.778259,-119.417931

In [100]:
lat_long_2012 = pd.merge(merge_df_2012, lat_long, on="state_po_Rep")
lat_long_2012.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes,Place Name,Latitude,Longitude
0,2012,Alabama,AL,"Romney, Mitt",republican,1255925,AL,"Obama, Barack H.",democrat,795696,2074338,"Alabama, USA",32.318230,-86.902298
1,2012,Alaska,AK,"Romney, Mitt",republican,164676,AK,"Obama, Barack H.",democrat,122640,300495,"Alaska, USA",66.160507,-153.369141
2,2012,Arizona,AZ,"Romney, Mitt",republican,1233654,AZ,"Obama, Barack H.",democrat,1025232,2299254,"Arizona, USA",34.048927,-111.093735
3,2012,Arkansas,AR,"Romney, Mitt",republican,647744,AR,"Obama, Barack H.",democrat,394409,1069468,"Arkansas, the US",34.799999,-92.199997
4,2012,California,CA,"Romney, Mitt",republican,4839958,CA,"Obama, Barack H.",democrat,7854285,13038547,"California, the USA",36.778259,-119.417931

In [101]:
lat_long_2016 = pd.merge(merge_df_2016, lat_long, on="state_po_Rep")
lat_long_2016.head()

,year,state,state_po_Rep,candidate_Rep,party_Rep,candidatevotes_Rep,state_po_Dem,candidate_Dem,party_Dem,candidatevotes_Dem,totalvotes,Place Name,Latitude,Longitude
0,2016,Alabama,AL,"Trump, Donald J.",republican,1318255,AL,"Clinton, Hillary",democrat,729547,2123372,"Alabama, USA",32.318230,-86.902298
1,2016,Alaska,AK,"Trump, Donald J.",republican,163387,AK,"Clinton, Hillary",democrat,116454,318608,"Alaska, USA",66.160507,-153.369141
2,2016,Arizona,AZ,"Trump, Donald J.",republican,1252401,AZ,"Clinton, Hillary",democrat,1161167,2573165,"Arizona, USA",34.048927,-111.093735
3,2016,Arkansas,AR,"Trump, Donald J.",republican,684872,AR,"Clinton, Hillary",democrat,380494,1130635,"Arkansas, the US",34.799999,-92.199997
4,2016,California,CA,"Trump, Donald J.",republican,4483810,CA,"Clinton, Hillary",democrat,8753788,14181595,"California, the USA",36.778259,-119.417931

In [102]:
lat_long_2000.to_csv('lat_long_2000.csv')

In [103]:
lat_long_2004.to_csv('lat_long_2004.csv')

In [104]:
lat_long_2008.to_csv('lat_long_2008.csv')

In [105]:
lat_long_2012.to_csv('lat_long_2012.csv')

In [106]:
lat_long_2016.to_csv('lat_long_2016.csv')

In [9]:
# Segun add db connection here 
#JZ work stops here

Dataframe to Postgres